<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/client.css" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <title>ディスプレイ画面</title>
  </head>

  <body>
    <div id="container" class="container">
      <img src="/static/background.png" />
      <div class="text">
        <canvas id="canvas">ご利用の端末では、画面を表示できません。</canvas>
      </div>
    </div>
    <script src="/static/client.js"></script>
  </body>
</html>
